:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}
li {
  list-style-type: none;
}
/*--Шапка страници--*/
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.design-logo {
  color: var(--accent-color);
}
/*--Навигация--*/

.site-navigation-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: var(--primary-text-color);
}

.site-nav a:hover {
  color: #2196f3;
}
.site-nave-contacts a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.site-nave-contacts :hover {
  color: var(--accent-color);
}

/*--Страница студия--*/
.banner {
  background: #2f303a;
}
.banner-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-button {
  background: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}
/*--Особености--*/
.our-skills {
  list-style: none;
}
.our-skills-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  list-style: none;
}
.our-skills-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.our-work {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.our-work-img {
  list-style: none;
}
.our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.our-team-foto {
  list-style: none;
}
.name-employee {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.profession {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #f5f4fa;
}
.footer-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address {
  list-style: none;
}
.footer-address a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/*--Страница портфолио--*/
.filter-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  list-style: none;
  border-radius: 4px;
  color: var(--primary-text-color);
}

.filter-button :hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.portfolio-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  cursor: pointer;
}
.portfolio-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
  cursor: pointer;
}
